body{
  color: #222;
}
div.img{
  max-width: 70%;
}
main{
  padding: 10px;
  max-width: 900px;
  margin: 0 auto;
} 
header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
header a{
  text-decoration: none;
  color: inherit;
}
header a.logo{
  font-weight: bold;
}
header nav{
  display: flex;
  gap: 15px;
}

.post{
   display:grid;
   grid-template-columns: 0.9fr 1.1fr;
   gap: 20px;
}
div.post div.content{
  margin: 0;
  font-size: 1.6rem;
}